// ===================================================
// Cards
// ===================================================
.card {
  position: relative;
  transition: all 0.3s ease;
  margin: 16px 20px;
  background: var(--card-back-color);
  color: var(--card-fore-color);
  box-shadow: 0px 0px 1px var(--card-shadow-color-a), 0px 6px 12px var(--card-shadow-color-b);
  border-radius: 4px;
  padding: 16px;
  .card-title {
    font-size: 18px;
    line-height: 1.375;
    font-weight: 500;
    margin: 0px 0px 2px;
    a, a:link, a:visited {
      transition: 0.3s ease all;
      color: var(--card-fore-color);
    }
  }
  .card-description {
    margin: 2px -8px 2px;
    font-size: 14px;
    color: var(--card-fore-color-light);
    line-height: 1.35;
    font-weight: 500;
  }
  .card-bottom {
    position: relative;
    background: blue;
    margin-left: -16px;
    margin-right: -16px;
    border-radius: 4px;
    border-top-left-radius: 22px;
  }
  .card-code {
    margin: 24px 0px -16px 0px;
    background: var(--pre-back-color);
    width: calc(100% - 36px);
    border-radius: 22px 0px 4px 4px;
    line-height: 1.15;
    padding: 36px 18px 36px;
  }
  .card-examples {
    transition: all 0.3s ease;
    position: relative;
    margin: 8px 0px -16px 0px;
    background: var(--pre-back-color);
    width: calc(100% - 52px);
    border-radius: 0px 0px 4px 4px;
    line-height: 1.15;
    padding: 8px 18px 36px 34px;
    &::before {
      display: block;
      content: '';
      position: absolute;
      left: 21px;
      top: 0;
      width: 0.5px;
      height: calc(100% - 24px);
      background: var(--button-example-toggler-fore-color);
    }
  }
  &.short {
    .card-bottom {
      display: none;
      @media screen and (min-width: $layout-large-breakpoint) {
        display: block;
      }
    }
  }
  &:not(.short) {
    background: linear-gradient(to bottom, var(--card-back-color) 0px, var(--card-back-color) calc(100% - 17px), var(--pre-back-color) calc(100% - 16px));
  }
}

.card-corner {
  box-sizing: border-box;
  position: absolute;
  top: 24px;
  right: 16px;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: var(--corner-color);
  &.beginner {
    --corner-color: var(--beginner-color);
  }
  &.intermediate {
    --corner-color: var(--intermediate-color);
  }
  &.advanced {
    --corner-color: var(--advanced-color);
  }
  &.intermediate, &.advanced {
    &::before {
      display: block;
      position: absolute;
      content: '';
      top: 0px;
      right: 12px;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      background: var(--corner-color);
    }
  }
  &.advanced {
    &::after {
      display: block;
      position: absolute;
      content: '';
      top: 0px;
      right: 24px;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      background: var(--corner-color);
    }
  }
}


.tag {
  transition: 0.3s ease all;
  border: 2px solid var(--tag-border-color);
  border-radius: 4px;
  color: var(--tag-fore-color);
  text-transform: uppercase; 
  margin: 0px 6px 4px 0px;
  display: inline-block;
  padding: 2px 4px;
  letter-spacing: 0.25px;
  font-size: 10px;
  line-height: 1.4;
  font-weight: 500;
  &:first-of-type {
    margin-top: 6px;
  }
}

.roll-up-height {
  transition: height 0.3s ease-in-out;
}