// ===================================================
// Layout
// ===================================================
// Grid container
.page-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas: "content" "menu";
  grid-template-columns: 100%;
  grid-template-rows: calc(100vh - 62px) 62px;
  // Medium screen size (mobile landscape, tablet)
  @media screen and (min-width: $layout-medium-breakpoint) {
    grid-template-areas: "menu content";
    grid-template-columns: 62px calc(100vw - 62px);
    grid-template-rows: 100%;
  }
  // Large screen size (desktop, laptop)
  @media screen and (min-width: $layout-large-breakpoint) {

  }
}
// Menu container
header.menu {
  grid-area: menu;
}

// Content container
.content {
  transition: 0.3s ease all;
  grid-area: content;
  overflow: auto;
  background: var(--back-color);
}

// Website title
h1.website-title {
  transition: 0.3s ease all;
  font-size: 14px;
  font-weight: 500;
  color: var(--fore-color-lighter);
  line-height: 1.5;
  top: 24px;
  margin: 24px 20px 0px;
}

// Website logo
img.website-logo {
  transition: 0.3s ease all;
  position: absolute;
  top: 34px;
  right: 20px;
  width: 48px;
  height: 48px;
}

// Page light subtitle
p.light-sub {
  transition: 0.3s ease all;
  color: var(--fore-color-light);
  font-size: 14px;
  line-height: 1.5;
  margin: 4px 20px 0px;
}

// Page graphic
.page-graphic {
  margin-top: 100px;
  width: 100%;
  height: calc(100vmin - 180px);
  background-image: url("data:image/svg+xml,%3Csvg width='154' height='148' viewBox='0 0 154 148' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='72.7688' y1='68.1962' x2='88.5602' y2='83.9877' stroke='%23575E7A' stroke-width='2'/%3E%3Crect x='97.8234' y='75.055' width='76.9574' height='23.2664' rx='11.6332' transform='rotate(45 97.8234 75.055)' stroke='%23575E7A' stroke-width='2'/%3E%3Cpath d='M81.3085 50.7431C81.9744 47.8236 82.3261 44.7844 82.3261 41.6631C82.3261 35.0791 80.7613 28.8607 77.9834 23.3593' stroke='%23575E7A' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M56.2702 3.70245C51.7367 1.95686 46.8116 1 41.663 1C19.2055 1 1 19.2055 1 41.663C1 64.1206 19.2055 82.3261 41.663 82.3261C59.2695 82.3261 74.2624 71.1364 79.9182 55.4806' stroke='%23575E7A' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M62.1442 6.52702C65.6967 8.6023 68.9061 11.2009 71.6667 14.2172' stroke='%23575E7A' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E"), url("data:image/svg+xml,%3Csvg width='152' height='150' viewBox='0 0 152 150' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M147.38 72.8499C153.437 95.1096 155.456 105.228 141.323 129.511C127.191 153.794 94.8556 149.747 72.6806 149.747C32.5402 149.747 0 117.131 0 76.8971C0 36.6632 34.5591 0 74.6995 0C114.84 0 141.323 50.5902 147.38 72.8499Z' fill='%23D7DDF3'/%3E%3C/svg%3E");
  background-position-x: 52.5%, center;
  background-position-y: 1%, top;
  background-repeat: no-repeat;
  background-size: 45vmin, 44vmin;
  padding-top: 46vmin;
  text-align: center;
}

.empty-page-text {
  text-align: center;
  margin: 36px auto;
  max-width: 200px;
  line-height: 1.5;
  color: var(--fore-color-darker);
  font-weight: 400;
  @media screen and (min-width: $layout-medium-breakpoint) {
    max-width: 400px;
  }
}


// .container {
//   display: grid;
//   grid-template-columns: repeat(12, 1fr);
//   grid-column-gap: calc(0.5 * var(--universal-margin));
//   width: 100%;
//   &.card-container {
//     position: absolute;
//     padding-top: 3.5rem; 
//     min-height: calc(100vh - 3.5rem);
//   }
// }
// // Generic centered column
// .col-centered {
//   grid-column: span 12;
//   max-width: 100%;
//   @media screen and (min-width: #{$grid-medium-breakpoint}) {
//     grid-column: 2/12;
//   }
//   @media screen and (min-width: #{$grid-large-breakpoint}) {
//     grid-column: 3/11;
//   }
// }
// // 25% width - For the 'in numbers' section
// .col-quarter {
//   grid-column: span 3;
// }
// // 100% width
// .col-full-width {
//   grid-column: span 12;
// }
// // For the contributors section
// .flex-row {
//   display: flex;
//   flex: 0 1 auto;
//   flex-flow: row wrap;
//   .flex-item {
//     flex: 0 0 auto;
//     max-width: 50%;
//     flex-basis: 50%;
//     @media screen and (min-width: #{$grid-medium-breakpoint}) {
//       max-width: 25%;
//       flex-basis: 25%;
//     }
//     @media screen and (min-width: #{$grid-large-breakpoint}) {
//       max-width: 100%;
//       flex-grow: 1;
//       flex-basis: 0;
//     }
//   }
// }