// ===================================================
// Menu
// ===================================================
// Menu buttons
.menu{
  .button {
    margin: 0;
    width: 25%;
    height: 100%;
    display: block;
    text-align: center;
    padding-top: 8px;
    color: #53586A;
    display: inline-block;
    background: #fff;
    border: none;
    line-height: 61px;
  }
}