// ===================================================
// Menu
// ===================================================
.menu {
  // Menu container
  border-top: 1px solid #E4E6EC;
  background: #FFFFFF;
  @media screen and (min-width: 600px) {
    border-top: none;
    border-right: 1px solid #E4E6EC;
    padding-top: 19vh;
  }
  @media screen and (min-width: 900px) {
    padding-top: 23.5vh;
  }
  // Menu buttons
  .button {
    margin: 0;
    width: 25%;
    height: 100%;
    display: block;
    text-align: center;
    padding-top: 8px;
    color: #53586A;
    display: inline-block;
    background: #fff;
    border: none;
    line-height: 61px;
    @media screen and (min-width: 600px) {
      height: 12.5vh;
      width: 100%;
      margin-bottom: 4vh;
    }
    @media screen and (min-width: 900px) {
      margin-bottom: 1vh;
    }
  }
}

// Animate transition between light and dark mode
.cross-fade-leave svg {
  transform: scale(1);
}
.cross-fade-leave.cross-fade-leave-active svg {
  transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
  transform: scale(0.1);
}

.cross-fade-enter svg {
  transform: scale(0.1);
}
.cross-fade-enter.cross-fade-enter-active svg {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: scale(0.95);
}

.cross-fade-height svg {
  transition: height 0.15s ease-in-out;
}