[type="search"].search-box {
  margin: 4px 14px;
  width: calc(100% - 28px);
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 32, 128, 0.1);
  border-radius: 18px;
  outline: none;
  box-sizing: border-box;
  border: none;
  padding-left: 40px;
  font-size: 18px;
  font-weight: 300;
  line-height: 2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23C5C6CD' stroke-width='1.5' stroke-linecap='round' strokelinejoin='round' className='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 8px;
  color: #0D0E17;
  &::placeholder {
    color: #C5C6CD;
  }

}


// [type="search"] {
//   z-index: 1000;
//   position: fixed;
//   top: 3.5rem;
//   height: 3rem;
//   left: -320px;
//   width: 320px;
//   color: var(--search-fore-color);
//   background: var(--search-back-color);
//   outline: none;
//   box-sizing: border-box;
//   border: none;
//   border-bottom: 1px solid var(--search-border-color);
//   margin-bottom: var(--universal-margin);
//   padding: calc(2 * var(--universal-padding)) calc(1.5 * var(--universal-padding)) var(--universal-padding) calc(1.5 * var(--universal-padding));
//   transition: all 0.3s ease;
//   @media screen and (max-width: 320px) {
//     width: 100%;
//   }
//   @media screen and (min-width: #{$grid-medium-breakpoint}) {
//     width: 33vw;
//     left: -33vw;
//   }
//   @media screen and (min-width: #{$grid-large-breakpoint}) {
//     width: 25vw;
//     left: -25vw;
//   }
//   &.col-nav {
//     box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.2);
//     left: 0;
//     // Also apply the main content style to the footer
//     @media screen and (min-width: #{$grid-medium-breakpoint}) {
//       + main.col-centered, + main.col-centered + footer.col-full-width {
//         grid-column: 5/13;
//       }
//     }
//     @media screen and (min-width: #{$grid-large-breakpoint}) {
//       + main.col-centered  {
//         grid-column: 4/12;
//         padding-left: 8vw;
//       }
//       + main.col-centered + footer.col-full-width {
//         grid-column: 4/13;
//       }
//     }
//   }
//   &:hover, &:focus {
//     border-bottom: 1px solid var(--search-hover-border-color);
//   }
//   &:focus {
//     box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.2), inset 0 0-1px 0 0 var(--search-hover-border-color);
//   }
//   &.home-search {
//     position: relative;
//     top: 0;
//     left: 0;
//     background: var(--back-color);
//     color: var(--fore-color);
//     width: calc(100% - 2 *  var(--universal-margin));
//     padding-left: calc(4 * var(--universal-margin));
//     border-bottom: 1px solid var(--border-color);
//     margin: var(--universal-margin);
//     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23607d8b' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
//     background-repeat: no-repeat;
//     background-position-y: center;
//     background-position-x: 6px;
//     transition: 0.3s ease all;
//     &:focus {
//       box-shadow: none;
//       border-bottom: 1px solid var(--search-border-color);
//     }
//   }
// }